<div class="not-found-container">
  <mat-card class="not-found-card">
    <mat-card-header>
      <mat-card-title class="title">404 - Nie znaleziono</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Przepraszamy, strona, której szukasz, nie istnieje.</p>
      <p>Możesz wrócić do strony głównej lub sprawdzić inne sekcje witryny.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/">Powrót do Strony Głównej</button>
    </mat-card-actions>
  </mat-card>
</div>
